*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 100%;
}

.container .head-title{
    text-align: center;
    margin: 50px;
    padding: 10px;
    margin-bottom: 150px;
}

.head-title .user-name{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 50px;
}

.head-title .portfolio-name{
    font-weight: 500;
    letter-spacing: 5px;
}

.head-title .meta-data-portfolio{
    font-size: 15px;
    color: gray;
}

.about-me{
    text-align: center;
    margin-bottom: 180px;
}

.about-title{
    margin: 50px;
}

.about-me span{
    border: 2px solid black;
    padding: 10px;
    font-weight: 600;
}

.about-me p{
    margin: 30px auto;
    font-size: 15px;
    color: gray;
    width: 50%;
}

.about-me .user-profile-pic{
    width: 150px;
    /* border: 2px solid black; */
    border-radius: 150px;
}

.portfolio-title{
    text-align: center;
    margin: 50px;
}

.portfolio-title span{
    border: 2px solid black;
    padding: 10px;
    font-weight: 600;

}

.photo-gallery{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    position: relative;
    column-count: 4;
    padding: 20px;
}

.pic-sheet{
    margin: auto;
    width: min-content;
}

.img-card{
    position: relative;
    margin: auto;
    width: 400px;
    margin-bottom: 25px;
    overflow: hidden;
    display: inline-block;
}

.figure{
    overflow: hidden;
    height: fit-content;
}

.img-box{
    width: 100%;
    transition: 0.25s ease-in-out;
}

.img-card:hover .img-box{
    transform: scale(1.1);
}

.text-box .image-title{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 5px 0px;
}

.entry-meta{
    background-color: black;
    padding: 6px;
    border-radius: 5px;
    width: fit-content;
}

.date{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}
.uppercase{
    text-transform: uppercase;
}

.footer{
    text-align: center;
}

.footer p{
    font-size: 12px;
}

.footer p span{
    color: tomato;
}

/* .show{
    display: block;
}

.myBtnContainer{
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

.btn{
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background-color: bisque;
}

.btn.active{
    background-color: rgb(130, 95, 53);
    color: white;
} */

/* .modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modalImage{
    margin: auto;
    display: block;
    width: 50%;
    height: 60%;
    max-width: 700px;
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus{
    color: rgb(255, 0, 0);
    cursor: pointer;
} */

@media (min-width: 1344px) and (max-width: 1758px) {
    .photo-gallery{
        column-count: 3;
    }
}

@media (min-width: 934px) and (max-width: 1344px) {
    .photo-gallery{
        column-count: 2;
    }
}

@media (min-width: 360px) and (max-width: 934px) {
    .photo-gallery{
        column-count: 1;
        margin-left: 15px;
        margin-right: 15px;
    }

    .head-title .user-name{
        font-size: 2rem;
    }

    .head-title .portfolio-name{
        font-size: .7rem;
    }

    .img-card{
        width: 300px;
    }

    .text-box .image-title{
        font-size: 1.4rem;
    }

    /* .modalImage{
        width: 100%;
    } */
}

@media (max-width: 360px){
    .img-card{
        width: 200px;
    }

    .photo-gallery{
        column-count: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-box .image-title{
        font-size: 1.5rem;
    }

    .head-title .user-name{
        font-size: .8rem;
    }
    
    .head-title .portfolio-name{
        font-size: .5rem;
    }

    .container .head-title{
        margin: 10px;
    }
}




